.terminal {
}

.commandHeader {
    background-color: gray;
    border: 2px;
    text-align: left;
    padding-left: 10px;
}

.terminal-container {
    display: flex;
    flex-direction: row;
}

.code-format {

}